<div id="foursixty-hideable-container" style="display:none">
  <div class="fs-section">
    <h2 class="section-header home">
       Shop the look
    </h2>
  	<script src="//foursixty.com/media/scripts/fs.slider.v2.5.js" data-should-hide-unavailable="true" data-override-columns="2" data-feed-id="grace-lace_1" data-use-app-proxy="true" data-theme="slider_v2_5" data-show-okendo-stars="true" data-cell-size="20%" data-has-posts-selector="#foursixty-hideable-container" data-for-url="true"></script>

<style>
  .fs-has-links::after { padding:7px 10.5px;background-color:#58595b;color:rgba(231, 231, 231, 0.43);content:"SHOP NOW!"; } .fs-wrapper { height:auto; } .fs-slider_v2_5  .fs-entry-container { height:0 !important;width:20%!important;padding-top:20%!important; } .fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title { font-family:Roboto ;font-style:normal;font-weight:normal;font-size:14px; } div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text { font-family:Roboto;font-style:normal;font-weight:normal;font-size:14px; } .fs-slider-next-button, .fs-slider-prev-button { opacity:1; background-color: transparent !important; } .fs-wrapper div.fs-text-container * { color:#58595b; } .fs-wrapper div.fs-text-container { background-color:rgba(231, 231, 231, 0.43);margin:0px; } div.fs-entry-date { display:none; } div.fs-entry-title { display:none; } .fs-slider_v2_5 .fs-wrapper div.fs-timeline-entry { margin:2px;}
.fs-detail-title, .fs-post-info { display: none }
    .fs-slider-next-button, .fs-slider-prev-button { opacity: 1 }  .fs-slider-next-button, .fs-slider-prev-button { opacity: 1 !important; min-width: 30px; display: flex !important; }
  .fs-wrapper { text-align: center; }  
.fs-slider-prev-button, .fs-slider-next-button {
    background-color: #fff;
    opacity: 1;
    display: flex !important;
    z-index: 6 !important;
}  
.fs-okendo-review .okeReviews .okeReviews-starRating-indicator{ fill: #F9C109; }
.fs-okendo-review .okeReviews.okeReviews--theme .okeReviews-starRating-indicator-layer--foreground {
background-image: url("data:image/svg+xml;charset=UTF-8, %3Csvg%20width%3D%2280%22%20height%3D%2214%22%20viewBox%3D%220%200%2080%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23F9C109%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M71.996%2011.368l-3.94%202.42c-.474.292-.756.096-.628-.443l1.074-4.53-3.507-3.022c-.422-.363-.324-.693.24-.74l4.602-.37%201.778-4.3c.21-.51.55-.512.762%200l1.78%204.3%204.602.37c.552.046.666.37.237.74l-3.507%203.02%201.075%204.532c.127.536-.147.74-.628.444l-3.94-2.422zM55.996%2011.368l-3.94%202.42c-.474.292-.756.096-.628-.443l1.074-4.53-3.507-3.022c-.422-.363-.324-.693.24-.74l4.602-.37%201.778-4.3c.21-.51.55-.512.762%200l1.78%204.3%204.602.37c.552.046.666.37.237.74l-3.507%203.02%201.075%204.532c.127.536-.147.74-.628.444l-3.94-2.422zM40.123%2011.368l-3.94%202.42c-.475.292-.756.096-.63-.443l1.076-4.53-3.508-3.022c-.422-.363-.324-.693.24-.74l4.602-.37%201.778-4.3c.21-.51.55-.512.762%200l1.778%204.3%204.603.37c.554.046.667.37.24.74l-3.508%203.02%201.075%204.532c.127.536-.147.74-.628.444l-3.94-2.422zM24.076%2011.368l-3.94%202.42c-.475.292-.757.096-.63-.443l1.076-4.53-3.507-3.022c-.422-.363-.324-.693.238-.74l4.603-.37%201.78-4.3c.21-.51.55-.512.76%200l1.78%204.3%204.602.37c.554.046.667.37.24.74l-3.508%203.02%201.074%204.532c.127.536-.146.74-.628.444l-3.94-2.422zM8.123%2011.368l-3.94%202.42c-.475.292-.756.096-.63-.443l1.076-4.53L1.12%205.792c-.422-.363-.324-.693.24-.74l4.602-.37%201.778-4.3c.21-.51.55-.512.762%200l1.778%204.3%204.603.37c.554.046.667.37.24.74l-3.508%203.02%201.075%204.532c.127.536-.147.74-.628.444l-3.94-2.422z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
} 
.fs-detail-product-container { padding: 0 0 0 15px; }
.fs-detail-product-image { margin: 10px auto 0;}
:not(.fs-okendo-review) + .fs-shopify-options .fs-add {
    margin-top: 30px;
}     
  .fs-section { padding: 25px 0; } 
@media only screen and (max-width: 768px) {
        .fs-wrapper div.fs-entry-container { height: 0; width: 50% !important; padding-top: 50% !important; } }  

.fs-timeline-entry { background-position: top; } 
    </style>
    <script>
      window.onFoursixtyCartAdded = function() { $('.cart_button').click() }
    </script>
  </div>
  </div>