{% if customer %}
<div id="loyalty-campaigns-grid" class="redeem-section">
<h1>redeem for discounts</h1>
  <div class="redeem-section-description">
    <p>Apply your points for a discount on your order at checkout!</p>
    <div class="loyaltylion-rule" style="color: rgb(239, 118, 97);">every 1000 points = $10</div>
  	<div class="loyaltylion-redemptions-list">
      <div class="loyaltylion-redemption-item four-in-row">
        <div class="loyaltylion-redemption-reward" style="color: rgb(104, 199, 190); font-size: 30px; font-family: Queulat; font-style: normal;">
          $10 OFF
        </div>
        <div class="loyaltylion-redemption-cost" style="color: rgb(91, 91, 91); font-size: 20px; font-family: Queulat; font-style: normal;">
          1000 Points
        </div>
      </div>
      <div class="loyaltylion-redemption-item four-in-row">
        <div class="loyaltylion-redemption-reward" style="color: rgb(104, 199, 190); font-size: 30px; font-family: Queulat; font-style: normal;">
          $15 OFF
        </div>
        <div class="loyaltylion-redemption-cost" style="color: rgb(91, 91, 91); font-size: 20px; font-family: Queulat; font-style: normal;">
          1500 Points
        </div>
      </div>
      <div class="loyaltylion-redemption-item four-in-row">
        <div class="loyaltylion-redemption-reward" style="color: rgb(104, 199, 190); font-size: 30px; font-family: Queulat; font-style: normal;">
          $20 OFF
        </div>
        <div class="loyaltylion-redemption-cost" style="color: rgb(91, 91, 91); font-size: 20px; font-family: Queulat; font-style: normal;">
          2000 Points
        </div>
      </div>
      <div class="loyaltylion-redemption-item four-in-row"><div class="loyaltylion-redemption-reward" style="color: rgb(104, 199, 190); font-size: 30px; font-family: Queulat; font-style: normal;">
        $25 OFF
      </div>
        <div class="loyaltylion-redemption-cost" style="color: rgb(91, 91, 91); font-size: 20px; font-family: Queulat; font-style: normal;">
          2500 Points
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}