{{ 'loyalty-vip-tiers.css' | asset_url | stylesheet_tag }}

<h1 class="loyalty-h1">rewards member perks</h1>

<div class="loyalty-vip-tiers-container" role="table"></div>
{{ 'loyalty-vip-tiers.js' | asset_url | script_tag }}
