<div class="reference-section">
	<div class="row">
		<div class="reference-left col-6">
			<img src="{{ 'reference-img.png' | asset_url }}" />
		</div>
		<div class="reference-right col-6">
			<div class="reference-text">
				<span>Refer a Friend</span>
				<h2>give $10, get $10</h2>
				<p>Give a friend $10 off their first purchase and earn $10 for yourself.</p>
				<a href="" class="refer_button" title=""  data-lion-refer>Refer a Friend</a>
			</div>
		</div>
	</div>
</div>