{{ 'loyalty-redemption.css' | asset_url | stylesheet_tag }}


<h1 id="loyalty-redemption-title" class="loyalty-section-title">Rewards Marketplace</h1>
<p class="loyalty-redemption-tagline">Apply your points to get any of these products for a steal! <br> For Platinum & Diamond VIPs exclusively.</p>
<div class="loyalty-slick-nav-container"></div>
<!-- <div class="loyalty-product-redemptions"></div> -->
<div class="yotpo-widget-instance" data-yotpo-instance-id="31495"></div>


<h1>redeem for discounts</h1>

<div class="yotpo-widget-instance" data-yotpo-instance-id="2882"></div>




{{ 'loyalty-redemption.js' | asset_url | script_tag }}


