{{ 'loyalty-referral-history.css' | asset_url | stylesheet_tag }}

<div class="loyalty-referral-history-section-container">
<div class="loyalty-referral-history-container" role="table"></div>

</div>
<a class="hide loyalty-rewards-link" href="/pages/rewards">Check rewards balance</a>
{{ 'loyalty-referral-history.js' | asset_url | script_tag }}
