<div class="survey_main">
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="size-modal-close">&times;</span>
      <div class="w3-content w3-display-container">
        <div class="mySlides" data-slideIndex='1'>
          <div class="reading-width survey_width">
            <h1 class="large-title">sizing - michelle, xs </h1>
            <div class="middle_content">  
              <div class="left_image">
                <img src="https://cdn.shopify.com/s/files/1/3047/6286/files/SizeChart-MichelleL.png?v=1598037234" alt="size chart - michelle l - xs">
              </div>
              <div class="right_content">
                <span class="select_option disabled" data-slideIndex='1'>View Michelle L. (XS)</span>
                <span class="select_option" data-slideIndex='2'>View Morgan (XS-S)</span>
                <span class="select_option" data-slideIndex='3'>View Holly (XS-S)</span>
                <span class="select_option" data-slideIndex='4'>View Katie (XS-S)</span>
                <span class="select_option" data-slideIndex='5'>View Lexi (S)</span>
                <span class="select_option" data-slideIndex='6'>View Sophia (S)</span>
                <span class="select_option" data-slideIndex='7'>View Kylie (S)</span>
                <span class="select_option" data-slideIndex='8'>View Melissa (S-M)</span>
                <span class="select_option" data-slideIndex='9'>View Ashley (S-M)</span>
                <span class="select_option" data-slideIndex='10'>View Natalie (L)</span>
                <span class="select_option" data-slideIndex='11'>View Amanda (XL)</span>
                <span class="select_option" data-slideIndex='12'>View Michelle H. (XL-XXL)</span>
              </div>
            </div>
            <span id="thank_you"><a href="https://www.graceandlace.com/pages/how-to-measure-guide">Click here for more information on sizing and measurements.</a></span>
          </div>
        </div>
        
        <div class="mySlides" data-slideIndex='2'>
          <div class="reading-width survey_width">
            <h1 class="large-title">sizing - morgan, xs-s</h1>
            <div class="middle_content">  
              <div class="left_image">
                <img src="https://cdn.shopify.com/s/files/1/3047/6286/files/SizeChart-Morgan.png?v=1598037264">
              </div>
              <div class="right_content">
                <span class="select_option" data-slideIndex='1'>View Michelle L. (XS)</span>
                <span class="select_option disabled" data-slideIndex='2'>View Morgan (XS-S)</span>
                <span class="select_option" data-slideIndex='3'>View Holly (XS-S)</span>
                <span class="select_option" data-slideIndex='4'>View Katie (XS-S)</span>
                <span class="select_option" data-slideIndex='5'>View Lexi (S)</span>
                <span class="select_option" data-slideIndex='6'>View Sophia (S)</span>
                <span class="select_option" data-slideIndex='7'>View Kylie (S)</span>
                <span class="select_option" data-slideIndex='8'>View Melissa (S-M)</span>
                <span class="select_option" data-slideIndex='9'>View Ashley (S-M)</span>
                <span class="select_option" data-slideIndex='10'>View Natalie (L)</span>
                <span class="select_option" data-slideIndex='11'>View Amanda (XL)</span>
                <span class="select_option" data-slideIndex='12'>View Michelle H. (XL-XXL)</span>
              </div>
            </div>
            <span id="thank_you"><a href="https://www.graceandlace.com/pages/how-to-measure-guide">Click here for more information on sizing and measurements.</a></span>
          </div>
        </div>
        
        <div class="mySlides" data-slideIndex='3'>
          <div class="reading-width survey_width">
            <h1 class="large-title">sizing - holly, xs-s</h1>
            <div class="middle_content">  
              <div class="left_image">
                <img src="https://cdn.shopify.com/s/files/1/3047/6286/files/SizeChart-Holly.jpg?v=1617901936">
              </div>
              <div class="right_content">
                <span class="select_option" data-slideIndex='1'>View Michelle L. (XS)</span>
                <span class="select_option" data-slideIndex='2'>View Morgan (XS-S)</span>
                <span class="select_option disabled" data-slideIndex='3'>View Holly (XS-S)</span>
                <span class="select_option" data-slideIndex='4'>View Katie (XS-S)</span>
                <span class="select_option" data-slideIndex='5'>View Lexi (S)</span>
                <span class="select_option" data-slideIndex='6'>View Sophia (S)</span>
                <span class="select_option" data-slideIndex='7'>View Kylie (S)</span>
                <span class="select_option" data-slideIndex='8'>View Melissa (S-M)</span>
                <span class="select_option" data-slideIndex='9'>View Ashley (S-M)</span>
                <span class="select_option" data-slideIndex='10'>View Natalie (L)</span>
                <span class="select_option" data-slideIndex='11'>View Amanda (XL)</span>
                <span class="select_option" data-slideIndex='12'>View Michelle H. (XL-XXL)</span>
              </div>
            </div>
            <span id="thank_you"><a href="https://www.graceandlace.com/pages/how-to-measure-guide">Click here for more information on sizing and measurements.</a></span>
          </div>
        </div>
        
        <div class="mySlides" data-slideIndex='4'>
          <div class="reading-width survey_width">
            <h1 class="large-title">sizing - katie, xs-s</h1>
            <div class="middle_content">  
              <div class="left_image">
                <img src="https://cdn.shopify.com/s/files/1/3047/6286/files/SizeChart-Katie.png?v=1598037121">
              </div>
              <div class="right_content">
                <span class="select_option" data-slideIndex='1'>View Michelle L. (XS)</span>
                <span class="select_option" data-slideIndex='2'>View Morgan (XS-S)</span>
                <span class="select_option" data-slideIndex='3'>View Holly (XS-S)</span>
                <span class="select_option disabled" data-slideIndex='4'>View Katie (XS-S)</span>
                <span class="select_option" data-slideIndex='5'>View Lexi (S)</span>
                <span class="select_option" data-slideIndex='6'>View Sophia (S)</span>
                <span class="select_option" data-slideIndex='7'>View Kylie (S)</span>
                <span class="select_option" data-slideIndex='8'>View Melissa (S-M)</span>
                <span class="select_option" data-slideIndex='9'>View Ashley (S-M)</span>
                <span class="select_option" data-slideIndex='10'>View Natalie (L)</span>
                <span class="select_option" data-slideIndex='11'>View Amanda (XL)</span>
                <span class="select_option" data-slideIndex='12'>View Michelle H. (XL-XXL)</span>
              </div>
            </div>
            <span id="thank_you"><a href="https://www.graceandlace.com/pages/how-to-measure-guide">Click here for more information on sizing and measurements.</a></span>
          </div>
        </div>
        
        <div class="mySlides" data-slideIndex='5'>
          <div class="reading-width survey_width">
            <h1 class="large-title">sizing - lexi, s</h1>
            <div class="middle_content">  
              <div class="left_image">
                <img src="https://cdn.shopify.com/s/files/1/3047/6286/files/SizeChart-Lexi.png?v=1582827069">
              </div>
              <div class="right_content">
                <span class="select_option" data-slideIndex='1'>View Michelle L. (XS)</span>
                <span class="select_option" data-slideIndex='2'>View Morgan (XS-S)</span>
                <span class="select_option" data-slideIndex='3'>View Holly (XS-S)</span>
                <span class="select_option" data-slideIndex='4'>View Katie (XS-S)</span>
                <span class="select_option disabled" data-slideIndex='5'>View Lexi (S)</span>
                <span class="select_option" data-slideIndex='6'>View Sophia (S)</span>
                <span class="select_option" data-slideIndex='7'>View Kylie (S)</span>
                <span class="select_option" data-slideIndex='8'>View Melissa (S-M)</span>
                <span class="select_option" data-slideIndex='9'>View Ashley (S-M)</span>
                <span class="select_option" data-slideIndex='10'>View Natalie (L)</span>
                <span class="select_option" data-slideIndex='11'>View Amanda (XL)</span>
                <span class="select_option" data-slideIndex='12'>View Michelle H. (XL-XXL)</span>
              </div>
            </div>
            <span id="thank_you"><a href="https://www.graceandlace.com/pages/how-to-measure-guide">Click here for more information on sizing and measurements.</a></span>
          </div>
          
        </div>
        
        <div class="mySlides" data-slideIndex='6'>
          <div class="reading-width survey_width">
            <h1 class="large-title">sizing - sophia, s</h1>
            <div class="middle_content">  
              <div class="left_image">
                <img src="https://cdn.shopify.com/s/files/1/3047/6286/files/SizeChart-Sophia.jpg?v=1598644084">
              </div>
              <div class="right_content">
                <span class="select_option" data-slideIndex='1'>View Michelle L. (XS)</span>
                <span class="select_option" data-slideIndex='2'>View Morgan (XS-S)</span>
                <span class="select_option" data-slideIndex='3'>View Holly (XS-S)</span>
                <span class="select_option" data-slideIndex='4'>View Katie (XS-S)</span>
                <span class="select_option" data-slideIndex='5'>View Lexi (S)</span>
                <span class="select_option disabled" data-slideIndex='6'>View Sophia (S)</span>
                <span class="select_option" data-slideIndex='7'>View Kylie (S)</span>
                <span class="select_option" data-slideIndex='8'>View Melissa (S-M)</span>
                <span class="select_option" data-slideIndex='9'>View Ashley (S-M)</span>
                <span class="select_option" data-slideIndex='10'>View Natalie (L)</span>
                <span class="select_option" data-slideIndex='11'>View Amanda (XL)</span>
                <span class="select_option" data-slideIndex='12'>View Michelle H. (XL-XXL)</span>
              </div>
            </div>
            <span id="thank_you"><a href="https://www.graceandlace.com/pages/how-to-measure-guide">Click here for more information on sizing and measurements.</a></span>
          </div>
        	
        </div>
        
         <div class="mySlides" data-slideIndex='7'>
          <div class="reading-width survey_width">
            <h1 class="large-title">sizing - kylie, s</h1>
            <div class="middle_content">  
              <div class="left_image">
                <img src="https://cdn.shopify.com/s/files/1/3047/6286/files/StaffPics_Kylie_1.jpg?v=1652461271">
              </div>
              <div class="right_content">
                <span class="select_option" data-slideIndex='1'>View Michelle L. (XS)</span>
                <span class="select_option" data-slideIndex='2'>View Morgan (XS-S)</span>
                <span class="select_option" data-slideIndex='3'>View Holly (XS-S)</span>
                <span class="select_option" data-slideIndex='4'>View Katie (XS-S)</span>
                <span class="select_option" data-slideIndex='5'>View Lexi (S)</span>
                <span class="select_option" data-slideIndex='6'>View Sophia (S)</span>
                <span class="select_option disabled" data-slideIndex='7'>View Kylie (S)</span>
                <span class="select_option" data-slideIndex='8'>View Melissa (S-M)</span>
                <span class="select_option" data-slideIndex='9'>View Ashley (S-M)</span>
                <span class="select_option" data-slideIndex='10'>View Natalie (L)</span>
                <span class="select_option" data-slideIndex='11'>View Amanda (XL)</span>
                <span class="select_option" data-slideIndex='12'>View Michelle H. (XL-XXL)</span>
              </div>
            </div>
            <span id="thank_you"><a href="https://www.graceandlace.com/pages/how-to-measure-guide">Click here for more information on sizing and measurements.</a></span>
          </div>
        	
        </div>
        
        <div class="mySlides" data-slideIndex='8'>
          <div class="reading-width survey_width">
            <h1 class="large-title">sizing - melissa, s-m</h1>
            <div class="middle_content">  
              <div class="left_image">
                <img src="https://cdn.shopify.com/s/files/1/3047/6286/files/SizeChart-Melissa.png?v=1598037169">
              </div>
              <div class="right_content">
                <span class="select_option" data-slideIndex='1'>View Michelle L. (XS)</span>
                <span class="select_option" data-slideIndex='2'>View Morgan (XS-S)</span>
                <span class="select_option" data-slideIndex='3'>View Holly (XS-S)</span>
                <span class="select_option" data-slideIndex='4'>View Katie (XS-S)</span>
                <span class="select_option" data-slideIndex='5'>View Lexi (S)</span>
                <span class="select_option" data-slideIndex='6'>View Sophia (S)</span>
                <span class="select_option" data-slideIndex='7'>View Kylie (S)</span>
                <span class="select_option disabled" data-slideIndex='8'>View Melissa (S-M)</span>
                <span class="select_option" data-slideIndex='9'>View Ashley (S-M)</span>
                <span class="select_option" data-slideIndex='10'>View Natalie (L)</span>
                <span class="select_option" data-slideIndex='11'>View Amanda (XL)</span>
                <span class="select_option" data-slideIndex='12'>View Michelle H. (XL-XXL)</span>
              </div>
            </div>
            <span id="thank_you"><a href="https://www.graceandlace.com/pages/how-to-measure-guide">Click here for more information on sizing and measurements.</a></span>
          </div>
          
        </div>
        
        <div class="mySlides" data-slideIndex='9'>
          <div class="reading-width survey_width">
            <h1 class="large-title">sizing - ashley, s-m</h1>
            <div class="middle_content">  
              <div class="left_image">
                <img src="https://cdn.shopify.com/s/files/1/3047/6286/files/SizeChart-Ashley.jpg?v=1582740296">
              </div>
              <div class="right_content">
                <span class="select_option" data-slideIndex='1'>View Michelle L. (XS)</span>
                <span class="select_option" data-slideIndex='2'>View Morgan (XS-S)</span>
                <span class="select_option" data-slideIndex='3'>View Holly (XS-S)</span>
                <span class="select_option" data-slideIndex='4'>View Katie (XS-S)</span>
                <span class="select_option" data-slideIndex='5'>View Lexi (S)</span>
                <span class="select_option" data-slideIndex='6'>View Sophia (S)</span>
                <span class="select_option" data-slideIndex='7'>View Kylie (S)</span>
                <span class="select_option" data-slideIndex='8'>View Melissa (S-M)</span>
                <span class="select_option disabled" data-slideIndex='9'>View Ashley (S-M)</span>
                <span class="select_option" data-slideIndex='10'>View Natalie (L)</span>
                <span class="select_option" data-slideIndex='11'>View Amanda (XL)</span>
                <span class="select_option" data-slideIndex='12'>View Michelle H. (XL-XXL)</span>
              </div>
            </div>
            <span id="thank_you"><a href="https://www.graceandlace.com/pages/how-to-measure-guide">Click here for more information on sizing and measurements.</a></span>
          </div>
          
        </div>
        
        <div class="mySlides" data-slideIndex='10'>
          <div class="reading-width survey_width">
            <h1 class="large-title">sizing - natalie, l</h1>
            <div class="middle_content">  
              <div class="left_image">
                <img src="https://cdn.shopify.com/s/files/1/3047/6286/files/SizeChart-Natalie.jpg?v=1616523849">
              </div>
              <div class="right_content">
                <span class="select_option" data-slideIndex='1'>View Michelle L. (XS)</span>
                <span class="select_option" data-slideIndex='2'>View Morgan (XS-S)</span>
                <span class="select_option" data-slideIndex='3'>View Holly (XS-S)</span>
                <span class="select_option" data-slideIndex='4'>View Katie (XS-S)</span>
                <span class="select_option" data-slideIndex='5'>View Lexi (S)</span>
                <span class="select_option" data-slideIndex='6'>View Sophia (S)</span>
                <span class="select_option" data-slideIndex='7'>View Kylie (S)</span>
                <span class="select_option" data-slideIndex='8'>View Melissa (S-M)</span>
                <span class="select_option" data-slideIndex='9'>View Ashley (S-M)</span>
                <span class="select_option disabled" data-slideIndex='10'>View Natalie (L)</span>
                <span class="select_option" data-slideIndex='11'>View Amanda (XL)</span>
                <span class="select_option" data-slideIndex='12'>View Michelle H. (XL-XXL)</span>
              </div>
            </div>
            <span id="thank_you"><a href="https://www.graceandlace.com/pages/how-to-measure-guide">Click here for more information on sizing and measurements.</a></span>
          </div>
          
        </div>
        
        <div class="mySlides" data-slideIndex='11'>
          <div class="reading-width survey_width">
            <h1 class="large-title">sizing - amanda, xl</h1>
            <div class="middle_content">  
              <div class="left_image">
                <img src="https://cdn.shopify.com/s/files/1/3047/6286/files/SizeChart-Amanda.png?v=1598036830">
              </div>
              <div class="right_content">
                <span class="select_option" data-slideIndex='1'>View Michelle L. (XS)</span>
                <span class="select_option" data-slideIndex='2'>View Morgan (XS-S)</span>
                <span class="select_option" data-slideIndex='3'>View Holly (XS-S)</span>
                <span class="select_option" data-slideIndex='4'>View Katie (XS-S)</span>
                <span class="select_option" data-slideIndex='5'>View Lexi (S)</span>
                <span class="select_option" data-slideIndex='6'>View Sophia (S)</span>
                <span class="select_option" data-slideIndex='7'>View Kylie (S)</span>
                <span class="select_option" data-slideIndex='8'>View Melissa (S-M)</span>
                <span class="select_option" data-slideIndex='9'>View Ashley (S-M)</span>
                <span class="select_option" data-slideIndex='10'>View Natalie (L)</span>
                <span class="select_option disabled" data-slideIndex='11'>View Amanda (XL)</span>
                <span class="select_option" data-slideIndex='12'>View Michelle H. (XL-XXL)</span>
              </div>
            </div>
            <span id="thank_you"><a href="https://www.graceandlace.com/pages/how-to-measure-guide">Click here for more information on sizing and measurements.</a></span>
          </div>
          
        </div>        

        <div class="mySlides" data-slideIndex='12'>
          <div class="reading-width survey_width">
            <h1 class="large-title">sizing - michelle, xl-xxl</h1>
            <div class="middle_content">  
              <div class="left_image">
                <img src="https://cdn.shopify.com/s/files/1/3047/6286/files/SizeChart-MichelleH.png?v=1598037199">
              </div>
              <div class="right_content">
                <span class="select_option" data-slideIndex='1'>View Michelle L. (XS)</span>
                <span class="select_option" data-slideIndex='2'>View Morgan (XS-S)</span>
                <span class="select_option" data-slideIndex='3'>View Holly (XS-S)</span>
                <span class="select_option" data-slideIndex='4'>View Katie (XS-S)</span>
                <span class="select_option" data-slideIndex='5'>View Lexi (S)</span>
                <span class="select_option" data-slideIndex='6'>View Sophia (S)</span>
                <span class="select_option" data-slideIndex='7'>View Kylie (S)</span>
                <span class="select_option" data-slideIndex='8'>View Melissa (S-M)</span>
                <span class="select_option" data-slideIndex='9'>View Ashley (S-M)</span>
                <span class="select_option" data-slideIndex='10'>View Natalie (L)</span>
                <span class="select_option" data-slideIndex='11'>View Amanda (XL)</span>
                <span class="select_option disabled" data-slideIndex='12'>View Michelle H. (XL-XXL)</span>
              </div>
            </div>
            <span id="thank_you"><a href="https://www.graceandlace.com/pages/how-to-measure-guide">Click here for more information on sizing and measurements.</a></span>
          </div>
                  
        </div>
        
      </div>
    </div>
  </div>
</div>