{% schema %}
  {
	"name": "Contact form",
    "settings": []
  }
{% endschema %}

<div>&nbsp;</div>
<div style="text-align: center; color: #f49587; padding: 8px; font-size: 18px;">WE LOOK FORWARD TO HEARING FROM YOU</div>
<div style="text-align: center;">Your email will be responded to in the order it is received, within 1-2 business days (holidays excluded).</div>
<div style="text-align: center;">Please be sure to check both your inbox and junk mail folders for our reply.</div>
<div>&nbsp;</div>
</center></div>
<div style="text-align: center;">Please note that answers to many questions can be found on the following pages:</div>
<div style="text-align: center;"><span id="docs-internal-guid-c01bd921-b8e6-8d39-18d1-bb58677281a8"><a href="https://www.graceandlace.com/pages/shipping-policies">Shipping</a>  |  <a href="https://www.graceandlace.com/pages/returns/">Returns</a>  |  <a href="https://www.graceandlace.com/policies/">Policies</a>  |  <a href="https://www.graceandlace.com/faq/">FAQ</a>  |  <a href="https://www.graceandlace.com/pages/careers/">Employment</a></span></div>
<!-- Zoho Contact Form -->
    <style>
    .zsFormClass{background-color:#ffffff;width:900px}
    .zsFontClass{color:#000000;font-family:Arial;font-size:13px;width:30%}
    .zsFontClass2{color:#000000;font-family:Arial;font-size:14px}
    .zsInputArea{width:96%}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  background: #E0E0E0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
    </style>
    <style>
    .hleft{text-align:left;} input[type=file]::-webkit-file-upload-button{cursor:pointer;}.wtcsepcode{margin:0px 15px; color:#aaa; float:left;}.wtccloudattach{float:left; color:#00acda!important; cursor:pointer; text-decoration: none!important;}.wtccloudattach:hover{text-decoration: none!important;}.wtcuploadinput{cursor:pointer; float:left; width:62px; margin-top:-20px; opacity:0; clear:both;}.wtcuploadfile{float:left;color: #00acda;}.filenamecls{margin-right:15px; float:left; margin-top:5px;} .clboth{clear:both;} #zsFileBrowseAttachments{clear:both; margin:0px 0px 10px;} .zsFontClass{vertical-align:top;} #tooltip-zc{font: normal 12px Arial, Helvetica, sans-serif; line-height:18px;position:absolute;padding:8px;margin:20px 0 0;background:#fff;border:1px solid #528dd1;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;color:#eee;-webkit-box-shadow:5px 5px 20px rgba(0,0,0,0.2);-moz-box-shadow:5px 5px 20px rgba(0,0,0,0.2);z-index:10000; color:#777}.wtcmanfield{color:#f00;font-size:16px;position:relative;top:2px;left:1px;} #zsCloudAttachmentIframe{width: 100%;height: 100%;z-index: 99999!important;position: fixed;left: 0px;top:0px; border-style: none; display: none; background-color:#fff;} .wtchelpinfo{background-position: -246px -485px;width:15px;height:15px;display:inline-block;position: relative;top: 2px;background-image: url('https://css.zohostatic.com/support/679452/images/zs-mpro.png');}
    </style>
    <script src='https://js.zohostatic.com/support/fbw_v1/zsjquerylib.js'>
    </script>
    <script>
    var zctt = function(){var tt, mw = 400, top = 10, left = 0, doctt = document;var ieb = doctt.all ? true : false;return{showtt: function(cont, wid){if(tt == null){tt = doctt.createElement('div');tt.setAttribute('id', 'tooltip-zc');doctt.body.appendChild(tt);doctt.onmousemove = this.setpos;doctt.onclick = this.hidett;}tt.style.display = 'block';tt.innerHTML = cont;tt.style.width = wid ? wid + 'px' : 'auto';if(!wid && ieb){tt.style.width = tt.offsetWidth;}if(tt.offsetWidth > mw){tt.style.width = mw + 'px'}h = parseInt(tt.offsetHeight) + top;w = parseInt(tt.offsetWidth) + left;},hidett: function(){tt.style.display = 'none';},setpos: function(e){var u = ieb ? event.clientY + doctt.body.scrollTop : e.pageY;var l = ieb ? event.clientX + doctt.body.scrollLeft : e.pageX;var cw = doctt.body.clientWidth;var ch = doctt.body.clientHeight;if(l < 0){tt.style.left = left + 'px';tt.style.right = '';}else if((l+w+left) > cw){tt.style.left = '';tt.style.right = ((cw-l) + left) + 'px';}else{tt.style.right = '';tt.style.left = (l + left) + 'px';}if(u < 0){tt.style.top = top + 'px';tt.style.bottom = '';}else if((u + h + left) > ch){tt.style.top = '';tt.style.bottom = ((ch - u) + top) + 'px';}else{tt.style.bottom = '';tt.style.top = (u + top) + 'px';}}};}();var zsWebFormMandatoryFields = new Array('Contact Name','Email','Subject','Description');var zsFieldsDisplayLabelArray = new Array('Full Name','Email','Subject','Description');function zsValidateMandatoryFields(){var name = '';var email = '';for(var index = 0; index < zsWebFormMandatoryFields.length; index++){var isError = 0;var fieldObject = document.forms['zsWebToCase_50462000003400059'][zsWebFormMandatoryFields[index]];if(fieldObject){if(((fieldObject.value).replace(/^\s+|\s+$/g, '')).length == 0){alert(zsFieldsDisplayLabelArray[index] +' cannot be empty ');fieldObject.focus();isError = 1;return false;}else{isError = 0;if(fieldObject.name == 'Email'){if(!fieldObject.value.match(/[A-Za-z0-9._%\-+]+@[A-Za-z0-9.\-]+\.[a-zA-Z]{2,22}/)){isError = 1;alert('Enter a valid email-Id');fieldObject.focus();return false;}}}if(fieldObject.nodeName == 'SELECT'){if(fieldObject.options[fieldObject.selectedIndex].value == '-None-'){alert(zsFieldsDisplayLabelArray[index] +' cannot be none');fieldObject.focus();isError = 1;return false;}else{isError = 0;}}if(fieldObject.type == 'checkbox'){if (fieldObject.checked == false){alert('Please accept '+zsFieldsDisplayLabelArray[index]);fieldObject.focus();isError = 1;return false;}else{isError = 0;}}}}if(isError == 0){if(document.forms['zsWebToCase_50462000003400059']['zsWebFormCaptchaWord'].value.replace(/^\s+|\s+$/g, '').length == 0){alert('Please enter the captcha code.');document.forms['zsWebToCase_50462000003400059']['zsWebFormCaptchaWord'].focus();return false;}}}function zsRegenerateCaptcha(){document.forms['zsWebToCase_50462000003400059']['zsWebFormCaptchaWord'].value = '';if(document.forms['zsWebToCase_50462000003400059']['zsCaptchaImage'].src.indexOf('&d') !== -1 ){document.forms['zsWebToCase_50462000003400059']['zsCaptchaImage'].src = document.forms['zsWebToCase_50462000003400059']['zsCaptchaImage'].src.substring(0,document.forms['zsWebToCase_50462000003400059']['zsCaptchaImage'].src.indexOf('&d'))+'&d'+new Date().getTime();}else{document.forms['zsWebToCase_50462000003400059']['zsCaptchaImage'].src = document.forms['zsWebToCase_50462000003400059']['zsCaptchaImage'].src +'&d'+new Date().getTime();}}window.onload = function(){zsAttachedAttachmentsCount = 0;zsAttachmentFileBrowserIdsList = [1, 2, 3, 4, 5];document.forms['zsWebToCase_50462000003400059']['zsWebFormCaptchaWord'].value = '';document.forms['zsWebToCase_50462000003400059']['zsCaptchaImage'].src = document.forms['zsWebToCase_50462000003400059']['zsCaptchaSrc'].value+'&d'+new Date().getTime();};function zsResetWebForm(webFormId){document.forms['zsWebToCase_'+webFormId].reset();} 
    </script>

        <!-- v2 -->
        <div align='center' id='zohoSupportWebToCase'>
        <form action='https://support.zoho.com/support/WebToCase' enctype=
        'multipart/form-data' id='zsWebToCase_50462000003400059' method='post'
        name='zsWebToCase_50462000003400059' onsubmit=
        'return zsValidateMandatoryFields()'>
            <input name='xnQsjsdp' type='hidden' value=
            '6PfckhesIO5thYo*kRl79w$$'> <input name='xmIwtLD' type='hidden'
            value='zUXs9KrxMPS5zjUXtY3TsnHp987L9qYB'> <input name='actionType'
            type='hidden' value='Q2FzZXM='> <input name='returnURL' type=
            'hidden' value='https://www.graceandlace.com/thank-you'><br>
            <br>
            <table border='0' cellpadding='5' cellspacing='0' class=
            'zsFormClass'>
                
                <tr>
                    <td align='center' class='zsFontClass' nowrap width='25%'>
                                         <div style="vertical-align: center;text-align: center;padding: 15px; font-size: 14px;">Full Name<span class='wtcmanfield'>*</span></div>
</td>
                    <td align='center' width='75%' class='zsInputArea'><input maxlength='120' name=
                    'Contact Name' type='text'></td>
                </tr>
                <tr>
                    <td align='center' class='zsFontClass' nowrap width='25%'>
                                         <div style="vertical-align: center;text-align: center;padding: 15px; font-size: 14px;">Email Address<span class='wtcmanfield'>*</span></div>
</td>
                    <td align='center' width='75%' class='zsInputArea'><input maxlength='120' name=
                    'Email' type='text'></td>
                </tr>
                <tr>
                    <td align='center' class='zsFontClass' nowrap width='25%'>
                                         <div style="vertical-align: center;text-align: center;padding: 15px; font-size: 14px;">Phone Number<span class='wtcmanfield'>*</span></div>
</td>
                    <td align='center' width='75%' class='zsInputArea'><input maxlength='120' name=
                    'Phone' type='text'></td>
                </tr>
                <!--
                <tr>
                    <td align='left' class='zsFontClass' nowrap style="font-style: italic;">
Please add your order number and/or one of the following descriptions to the subject line: Order Change, Order Issue, Order Status, Return/Exchange, Product Inquiry</td>
</tr>
                <tr>
                -->
                    <td align='center' class='zsFontClass' nowrap width='25%'>
                     <div style="vertical-align: center;text-align: center;padding: 40px; font-size: 14px;">Order Number & Subject<span class='wtcmanfield'>*</span></div>
                        <!--<br> <br>
                        <div style="font-style: italic;">Please add your order number and/or one of the following descriptions:</div>
                        <br>
                        <div>Order Change | Order Issue | Order Status | Return | Other</div>-->
                    </td>
                    <td width='75%' class='zsInputArea'>                          
                      <div class='zsFontClass2' style="vertical-align: center">Please include your order number (if applicable) and one of the following subjects:</div>
                      
                        <div class='zsFontClass2'>Order Change | Order Issue | Order Status | Return | Other</div>
                        <input maxlength='255' name='Subject' type='text' value=''>
                </td>
                </tr>

<!--
                <tr>
                    <td align='left' class='zsFontClass' nowrap width='25%'>
                    Order Number&nbsp;&nbsp;</td>
                    <td align='left' width='75%' class='zsInputArea'><input maxlength='120' name=
                    'Notes' type='text' value=''></td>
                </tr>
-->
                <tr>
                    <td align='center' class='zsFontClass' nowrap width='25%'>
                                         <div style="vertical-align: center;text-align: center;padding: 35px; font-size: 14px;">Description<span class='wtcmanfield'>*</span></div>
</td>
                    <td align='center' width='75%' class='zsInputArea'>
                    <textarea maxlength='3000' name='Description'>
</textarea></td>
                </tr>
<tr>
                    <td align='center' class='zsFontClass' nowrap width='25%'>
                                         <div style="vertical-align: center;text-align: center;padding: 50px; font-size: 14px;">Captcha<span class='wtcmanfield'>*</span></div>
</td>
                    <td align='center' width='75%' class='zsInputArea'>
                        <div>
                            <img id="zsCaptchaImage" name="zsCaptchaImage" src=
                             ''>
                                <a class='zsFontClass' href='javascript:;'
                            onclick='zsRegenerateCaptcha()' style=
                            'color:#00acda; cursor:pointer; margin-left:10px; vertical-align:middle;text-decoration: none;'>Refresh</a>
                        </div>
                        <div>
                            <input name='zsWebFormCaptchaWord' type=
                            'text'><input name='zsCaptchaSrc' type='hidden'
                            value=
                            'https://support.zoho.com/support/WebToCase?action=regenerateCaptcha&xnQsjsdp=6PfckhesIO5thYo*kRl79w$$&xmIwtLD=zUXs9KrxMPS5zjUXtY3TsnHp987L9qYB'>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2" width='25%'><input class=
                    'zsFontClass' type='submit' value="Submit"> &nbsp; &nbsp;
                    <input class='zsFontClass' onclick=
                    "zsResetWebForm('50462000003400059')" type='button' value=
                    "Reset"></td>
                </tr>           
            </table>                  
        </form>          
<div style="text-align: center;">Grace and Lace, 2000 Windy Terrace, Ste. 11A, Cedar Park, TX 78613</div>
<div style="text-align: center;">Email: support@graceandlace.com - Phone: (888) 457-2563</div>
    </div>
        <!-- END v2 -->
        
        <!-- v1 ->
    <div align='center' id='zohoSupportWebToCase'>
        <form action='https://support.zoho.com/support/WebToCase' enctype=
        'multipart/form-data' id='zsWebToCase_50462000003400059' method='post'
        name='zsWebToCase_50462000003400059' onsubmit=
        'return zsValidateMandatoryFields()'>
            <input name='xnQsjsdp' type='hidden' value=
            '6PfckhesIO5thYo*kRl79w$$'> <input name='xmIwtLD' type='hidden'
            value='zUXs9KrxMPS5zjUXtY3TsnHp987L9qYB'> <input name='actionType'
            type='hidden' value='Q2FzZXM='> <input name='returnURL' type=
            'hidden' value='https://www.graceandlace.com/thank-you'><br>
            <br>
            <table border='0' cellpadding='5' cellspacing='0' class=
            'zsFormClass'>
                <tr>
                    <td class='zsFontClass' colspan='2'><strong>Contact
                    Us</strong></td>
                </tr>
                <tr>
                    <td align='left' class='zsFontClass' nowrap width='25%'>
                    Full Name<span class=
                    'wtcmanfield'>*</span>&nbsp;&nbsp;</td>
                    <td align='left' width='75%' class='zsInputArea'><input maxlength='120' name=
                    'Contact Name' type='text'></td>
                </tr>
                <tr>
                    <td align='left' class='zsFontClass' nowrap width='25%'>
                    Email<span class='wtcmanfield'>*</span>&nbsp;&nbsp;</td>
                    <td align='left' width='75%' class='zsInputArea'><input maxlength='120' name=
                    'Email' type='text' value=''></td>
                </tr>
                <tr>
                    <td align='left' class='zsFontClass' nowrap width='25%'>
                    Phone&nbsp;&nbsp;</td>
                    <td align='left' width='75%' class='zsInputArea'><input maxlength='120' name=
                    'Phone' type='text' value=''></td>
                </tr>
                <tr>
                    <td align='left' class='zsFontClass' nowrap width='25%'>
                    Order Number<span class=
                    'wtcmanfield'>*</span>&nbsp;&nbsp;</td>
                    <td align='left' width='75%' class='zsInputArea'><input maxlength='255' name=
                    'Subject' type='text' value=''></td>
                </tr>
                <tr>
                    <td align='left' class='zsFontClass' nowrap width='25%'>
                    Description<span class='wtcmanfield'>*</span>
                    &nbsp;&nbsp;</td>
                    <td align='left' width='75%' class='zsInputArea'>
                    <textarea maxlength='3000' name='Description'>
</textarea></td>
                </tr>
<tr>
<td align='center' width='100%'><div style="font-size: 15px; line-height: 22px; text-align: left; background-color: #6ac8c0; color: #fff; padding: 20px; font-weight: 400;"><center style="color: #fff;"><i>
            Please be patient when submitting your request, only hitting the "Submit" button one time, as it may take a moment for your request to process.  Please also refrain from hitting the back button or refresh button on your browser until the confirmation window appears, as doing so may interfere with the submission of your request.  Thank you!
            </i></div></td>
</tr>
                <tr>
                    <td align="center" colspan="2" width='25%'><input class=
                    'zsFontClass' type='submit' value="Submit"> &nbsp; &nbsp;
                    <input class='zsFontClass' onclick=
                    "zsResetWebForm('50462000003400059')" type='button' value=
                    "Reset"></td>
                </tr>
            </table>
        </form>
    </div>
        <!-- END v1 -->
<!-- END Zoho Contact Form -->