<section class="section">
  <div class="container">
    <div class="one-whole {% if page.handle != 'shop-our-instagram' %}column{% endif %}">
    </div>       
    {% render 'page-multi-column', content: page.content %}
  </div>
</section>
