<section class="section">
  <div class="container">
    <div class="one-whole column">
      <h1>
        {{ page.title }}
      </h1>
    </div>

    <div class="five-eighths columns medium-down--one-whole offset-by-three is-hidden-offset-mobile-only page">
      {{ page.content }}
    </div>
  </div>
</section>
