.wrap {width: 100% !important; max-width: 100% !important; background-color: #ffffff !important;}

@media (min-width: 1000px) {
.wrap {width: 100% !important; max-width: 100%; padding: 0;}
}

.banner {margin: auto; display: block; background-color:transparent !important; 
  width: 100%; text-align: center; border-bottom: 1px solid #dadada;}

.banner .wrap {background-color: transparent !important;}

.sidebar {width: 35%;}

.main {width: 48%; padding-left: 6%;
  padding-right: 6%; float: right; }


.sidebar__header {display: block;}

  
@media (max-width: 999px) {
 
  .sidebar {width: 90%;} 
  .main {width: 90%;}
.anyflexbox body, .anyflexbox .content, .anyflexbox .content .wrap, .anyflexbox .main {display: block;}

}

