.loyalty-banner-container {
	
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 450px;
    width: 100%;
    font-family: Queulat;
    font-size: 16px;
    text-align: center;
    color: #5d5d5d;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loyalty-banner-container p {
  width:35%;
  margin: -210px auto 0px;
  font-size: 18px;
  font-family: Roboto Slab;
  font-weight: 400;
}
.loyalty-banner-container .loyalty-sign-in-text{
  font-size: 18px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 400;
}
.loyalty-banner-container .loyalty-button{
	background-color: #68c9c1;
    border-radius: 3px;
    min-width: 110px;
    margin: 0 auto;
    text-align: center;
    padding: 9px 23px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 11%);
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1.12px;
    color: #fff!important;
    height: auto;
}

}
@font-face {
  font-family: "RobotoSlab";
  src: url("https://yotpo-stool.s3.amazonaws.com/images/fonts/RobotoSlab-VariableFont_wght.ttf") 
}


.loyalty-banner-container .loyalty-button {
    margin: 20px auto;
    display: block;
    width: 100px;
}

.loyalty-sign-in-text a {
	color: #5d5d5d;
	text-decoration: underline;
}

.loyalty-banner-login-container {
    padding-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .loyalty-banner-container img {
    width: 100%;
}


.loyalty-banner-login-container {
    padding-bottom: 20px;
}
  
  .loyalty-banner-container p {
    width: 80%;
    margin: 15px auto 0px;
}
}

@media only screen and (max-width: 480px) {
  
 .loyalty-banner-container p {
    width: 100%;
    margin: 10px auto 0px;
} 
  
  
.loyalty-banner-container {
    min-height: unset;
    padding-top: 0%;
}
}