<div class="sixteen columns">
  <div class="section clearfix">
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="sixteen columns"> 
  	<div class="orc-allReviewsCollections">
          <div id="orc-collection-control" style="display: none">
              <div id="orc-collection-controls-label" class="orc-collectionControlsLabel">Select a product range</div>
              <div class="orc-collectionControls" role="radiogroup" aria-labelledby="orc-collection-controls-label">
                  <div class="orc-collectionControls-item">
                      <input
                          id="orc-reviews-control-0"
                          class="orc-collectionControls-item-input orc-collectionControls-item-input--checked js-orc-collectionRadio"
                          type="radio"
                          checked
                          value="shopify-site-reviews-b18d1aaf-5686-421b-a54b-215bc3f09a4f"
                          name="orc-reviews-collection-control"
                      />
                      <label for="orc-reviews-control-0" class="orc-collectionControls-item-label">
                          <span class="orc-collectionControls-item-label-heading"> Site Reviews </span>
                      </label>
                  </div>
                  <div class="orc-collectionControls-item">
                      <input
                          id="orc-reviews-control-1"
                          class="orc-collectionControls-item-input js-orc-collectionRadio"
                          type="radio"
                          value="a2e073f8-cdee-46a2-8b89-ae8f8d9d6a29"
                          name="orc-reviews-collection-control"
                      />
                      <label for="orc-reviews-control-1" class="orc-collectionControls-item-label">
                          <span class="orc-collectionControls-item-label-heading"> Product Reviews </span>
                      </label>
                  </div>
              </div>
          </div>
          <div id="orc-widget-snippet" class="drp-okendo-reviews" data-oke-widget data-oke-reviews-product-id="shopify-site-reviews-b18d1aaf-5686-421b-a54b-215bc3f09a4f"></div>
      </div>
</div>